<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520865910956-90kvvf9ghn22hnvlo3jdnc88sdh16gg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520865910956-90kvvf9ghn22hnvlo3jdnc88sdh16gg6</string>
	<key>API_KEY</key>
	<string>AIzaSyAdtuSGu4KHztaqskP_84bMEeUG-ytGEt0</string>
	<key>GCM_SENDER_ID</key>
	<string>520865910956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ys0sy.sinotool</string>
	<key>PROJECT_ID</key>
	<string>sinotool-3973b</string>
	<key>STORAGE_BUCKET</key>
	<string>sinotool-3973b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520865910956:ios:33aa1ffeb1f1cb52124f09</string>
	<key>DATABASE_URL</key>
	<string>https://sinotool-3973b.firebaseio.com</string>
</dict>
</plist>